<%= render 'featured'%>
<div class="d-flex flex-wrap">
            <% @categories.each do |cat|%>
            <%if most_recent(cat)%>
            <% @most_recent.each do |art|%>
              <div class="col-md-6 col-lg-4 check">
            <div class="card bg-dark">
                <%= link_to image_tag(art.image , class:'card-img'),  article_path(art)%>

                <div class="card-img-overlay text-white">
                    <%= link_to "#{cat.name}", category_path(cat), class:"card-title cat d-flex text-white"%>
                </div>
                <div class="overlay">
                    <h5 class="card-title"><%= link_to "#{art.title}", article_path(art)%></h5>
                    
                </div>
            </div>
                </div>
            <%end%>
            <%end%>
            <%end%>
</div>
</div>
