        <% @categories.each do |cat|%>
         <div class="row row-cols-1 row-cols-md-1">
    <%if cat.articles.each do |art|%>
      <div class="col mb-4">
    <div class="card flex-row flex-wrap">
        <%= image_tag(art.image,class:"card-img")%>
        <div class="card-body">
            <h4 class="card-title"><%= cat.name%></h4>
            <h5 class="card-title"><%= art.title%></h5>
            <p class="card-text"><%= art.text%></p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    </div>
    <%end%>
    <%end%>
</div>
    <%end%>