@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
.card-img-overlay {
	.cat {
		border-bottom: 1px solid rgb(255, 166, 50);
		width: 110px;
		text-decoration: none;
	}
}
.overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 1.25rem;
.featured-text{
	color: rgb(255, 166, 50);
	}
}
.featured {
	width: 800px !important;
	height: 400px !important;
}
.card{
	border: none !important;
}
.card-img {
   width: 396px !important;
   height: 400px !important;
}
.card-body {
    h4 {
        font-size: 100;
        color: rgb(255, 166, 50);
    }
    .card-title p {
        border-bottom: 1px solid rgb(255, 166, 50);
    }
}