.card-img-overlay {
	.cat {
		border-bottom: 1px solid rgb(255, 166, 50);
		width: 110px;
		text-decoration: none;
	}
}
.title-link{
    text-decoration: none;
}
.flex-direction{
    flex-direction: row !important;
}
.overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 1.25rem;
.featured-text{
	color: rgb(255, 166, 50);
	}
}
.card {
    padding: 0 !important;
}
.featured {
	height: 400px !important;
}
.card{
	border: none !important;
}
.card-img {
   height: 400px !important;
}
.card-img-cat {
    width: 300px !important;
    height: 400px !important;
 }
.card-body {
    h4 {
        font-size: 100;
        color: rgb(255, 166, 50);
    }
    .card-title p {
        border-bottom: 1px solid rgb(255, 166, 50);
    }
}
.card-title a {
    text-decoration: none !important;
    font-size: 100;
    color: rgb(255, 166, 50) !important;
}
